MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/lattice?retryWrites=true&w=majority&appName=Cluster0
PORT=4000
SECRET=your_jwt_secret_key_here_make_it_long_and_random
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000
